In [2]:
from synthdid.model import SynthDID
from synthdid.sample_data import fetch_CaliforniaSmoking
import pandas as pd
import numpy as np
import matplotlib

In [3]:
df = pd.read_csv("sample_data/LSM-15Year.txt", sep="\t")

In [4]:
df.sort_values(by=['menopause_status'], axis='index', ascending=True, inplace=True)
df

,race ethnicity,smoking,alcohol_useage,family_history,age_at_diagnosis,menopause_status,side,TNEG,ER,ER_percent,...,size,grade,invasive,histology2,invasive_tumor_Location,DCIS_level,re_excision,surgical_margins,MRIs_60_surgery,distant_recurrence
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,1,1,0,1,0,0,0,0,0,...,2,1,0,1,2,0,0,0,0,1
0,0,0,1,0,1,0,0,0,0,0,...,2,1,0,1,2,1,0,0,1,1
0,0,2,2,4,0,0,1,0,0,0,...,2,2,0,0,0,0,0,0,1,0
0,0,1,2,3,0,0,1,0,0,0,...,1,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,0,1,2,0,1,1,0,0,0,...,0,1,0,0,1,1,0,0,0,1
0,0,1,1,0,0,1,1,0,0,0,...,0,1,0,0,0,3,0,0,0,1
0,0,0,0,3,0,1,1,0,0,1,...,2,2,0,0,0,1,0,0,0,1
0,0,1,0,1,0,1,0,0,0,0,...,1,2,0,0,0,1,0,0,0,1
0,0,1,1,1,0,1,0,0,0,0,...,2,1,0,1,2,1,0,0,0,1

In [5]:
final_df = df[["menopause_status", "distant_recurrence"]]
final_df

    menopause_status  distant_recurrence
0                  0                   0
0                  0                   1
0                  0                   1
0                  0                   0
0                  0                   0
..               ...                 ...
0                  1                   1
0                  1                   1
0                  1                   1
0                  1                   1
0                  1                   1

[751 rows x 2 columns]

In [6]:
result = final_df.groupby('menopause_status').mean()
result

                  distant_recurrence
menopause_status
0                           0.790099
1                           0.849593